
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody  >
      <tr>
        <th scope="row" >{{books.image}}</th>
        <td>{{books.name}}</td>
        <td>{{books.description}}</td>
        <td>{{books.price | currency}}</td>
        
      </tr>
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back to Book List</a>

